# Python for Environmental Science Day 6
## Topics
* Pandas

## Disclaimer
Foremost, I have to inform you that [pandas](https://www.quora.com/Why-is-the-pandas-Python-library-named-pandas) has nothing to do with [pandas](https://en.wikipedia.org/wiki/Giant_panda). Sorry about that. Secondly, I have to tell you that pandas can be a bit confusing at times and I still haven't figured out everything myself. However, I will give my best to teach you the things I know and those I should know about pandas. Also the exercises here might take us two days instead of one. We'll see.

## What is pandas?
You know [spreadsheets](https://en.wikipedia.org/wiki/Spreadsheet), right? 

<img src="https://i.pinimg.com/originals/04/5b/91/045b9193b35a53ea001963032614e599.jpg" alt="Drawing" style="width: 250px;"/ align="left">


Basically pandas does the same, but a bit more abstract and way better. Today you will learn how to read data into pandas and work with it in meaningful ways. When you import pandas it is convention to do it like this:

In [4]:
import pandas as pd

First, take a look at [this video](https://youtu.be/CmorAWRsCAw) to get a introduction to pandas and why it is useful.

### Practice Questions
* What is the advantage of pandas of regular spreadsheets like excel?
* What is data wrangling?

In the following sections we will use the well known [iris dataset](https://en.wikipedia.org/wiki/Iris_flower_data_set) to explore pandas a bit more.

In [28]:
# Do not worry if those lines confuse you. 
# They are only needed to get some data to work with and you do not need to understand them.
# If you are curious take a look here:
# https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset
import numpy as np
from sklearn import datasets

def load_iris():
    """Loads the iris dataset and returns it as a dataframe"""
    iris = datasets.load_iris()
    iris_df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                         columns= iris['feature_names'] + ['target'])
    return iris_df

iris_df = load_iris()
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

As you can see it looks pretty similar to excel at first glance.

After watching the video try to calculate the median of the column "sepal width (cm)".

## Rows and Columns
As I always confuse them, here is a little reminder on rows and columns:

<img src="https://qph.fs.quoracdn.net/main-qimg-2c10ea6a9bdf9c6ae2c9031fb15c6723" alt="Drawing" style="width: 250px;"/ align="left">

## Dataframe Basics
Take a look at [this video](https://youtu.be/F6kmIpWWEdU) to get a basic overview of the dataframe data strucure.

### Practice Questions
* What is the "shape" of a dataframe?
* How can you get the column names of a dataframe?
* What is the difference between a series and a dataframe?

### Accessing parts of dataframes
When you have collected and cleaned your data you want to do something with it. The first thing is usually looking at it. So lets take a look at a few ways to access your dataframe.
* Access a certain subset of rows

In [10]:
# Simply use slicing, as you already learned with lists
iris_df[1:3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0

* Access a column

In [15]:
# Simply use the name in square brackets
# The .head() function is not neccesary for this, but it is nicer to look at. Try the line without it. 
iris_df["sepal width (cm)"].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal width (cm), dtype: float64

The thing we got back from pandas when we asked for a certain column was a series.

In [16]:
type(iris_df["sepal width (cm)"])

pandas.core.series.Series

This ought not confuse you. [Simply put](https://stackoverflow.com/questions/26047209/what-is-the-difference-between-a-pandas-series-and-a-single-column-dataframe) "a series is a datastructure for a single column of a dataframe" and a dataframe "can be thought of as a dict-like container for series objects".

* Access several columns at once

In [17]:
# Simply create a list of the columns you want to access
cols = ["sepal width (cm)", "sepal length (cm)"]
iris_df[cols].head()

   sepal width (cm)  sepal length (cm)
0               3.5                5.1
1               3.0                4.9
2               3.2                4.7
3               3.1                4.6
4               3.6                5.0

### Simple Calculations
As the dataframe contains data you want to work with, the most powerful property of pandas is the easy usage of functions to calculate new informations. The most useful to get a quick overview for a dataframe is .describe(), which will give you the most common describers of data like mean or max values.

In [18]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

You can also do this for specific describers and columns.

In [20]:
iris_df["sepal width (cm)"].std()

0.4335943113621737

### Boolean Indexing
Often you want to filter for a specific value. For example you only want to get all the rows where the sepal width is above 4. This is integrated in pandas by the so called boolean indexing. For this you have to access the dataframe as usual, but instead of typing the column you give it a boolean expression.

In [26]:
iris_df[iris_df["sepal width (cm)"] > 4]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
15,5.7,4.4,1.5,0.4,0.0
32,5.2,4.1,1.5,0.1,0.0
33,5.5,4.2,1.4,0.2,0.0

You can combine boolean indexing with regular a regular access on certain columns. So in the following case you would get the petal width for all flowers were the sepal width is above 4.

In [27]:
iris_df["petal width (cm)"][iris_df["sepal width (cm)"] > 4]

15    0.4
32    0.1
33    0.2
Name: petal width (cm), dtype: float64

### Practice Questions
* When is it impossible to access a column with the statement df.columnname, but you have to type df[columnname] instead?
* What is the index of a dataframe and what types can it have?
* What is the keyword "inplace" used for?

### Exercise 1
Use the code provided above to read in the iris dataset and do the following:
* Calculate the minimal value for the column 'petal length'
* Select all rows where target is 0 and use the describe function on this
* Create a slice of the last two rows of the dataframe

<img src="https://memegenerator.net/img/instances/73988552/pythonpandas-is-easy-just-do-such-and-such.jpg" alt="Drawing" style="width: 250px;"/ align="left">

## Creating Dataframes from Data
Pandas allows you to create dataframes in very different ways. But we can savely assume that most of the time you will read in .csv files, as they are the most common format for raw data. First let us create a csv file we can play around with.

In [32]:
# Again, you do not need to get this code. It only exists to make sure we all have the same .csv
import numpy as np
import pandas as pd
import datetime
import random

def create_csv():
    """Creates a dataframe with random data and saves it as a csv"""
    # Create a dataframe with only NaN
    df = pd.DataFrame(np.nan, index=range(50), columns=range(4))
    # Fill the columns
    for i, column in enumerate(df.columns):
        # Make the first column retain some NaN
        if i == 0:
            fill_till = random.randint(10, random.randint(10, 51))
            df.loc[:fill_till-1,column] = np.random.randint(low=random.randrange(100),
                                                            high=random.randrange(100, 1000),
                                                            size=fill_till)
        # Fill all others completely
        else:
            df.loc[:,column] = np.random.randint(low=random.randrange(100),
                                                 high=random.randrange(100, 1000),
                                                 size=50)
    # Replace the NaN
    df.fillna(value=-999, inplace=True)
    # Give the columns new names
    df.columns = ["Probe1", "Probe2", "Probe3", "Probe3"]    
    # Create a datetime index
    times = pd.DatetimeIndex(freq='2s', start=datetime.datetime.now(), periods=50)
    df.index = times
    df.index.name = "datetime"
    # Write to a file
    df.to_csv("probe_measurements.csv", sep=";")            
            
create_csv()

Execute this code and in your directory a file named "probe_measurements.csv" should pop up. Now we want to read it in again. We have to make sure we get the seperator right and find a way to handle the NaNs.

In [37]:
def read_in_csv(file):
    """Reads in the file we just created"""
    df = pd.read_csv(file, sep=";", header=0, index_col=0, na_values=-999)
    return df

df = read_in_csv("probe_measurements.csv")
df.tail(15)

                            Probe1  Probe2  Probe3  Probe3.1
datetime
2018-07-05 13:58:08.716821     NaN     401     409       520
2018-07-05 13:58:10.716821     NaN     389     312       167
2018-07-05 13:58:12.716821     NaN     709     103       536
2018-07-05 13:58:14.716821     NaN     277     147       112
2018-07-05 13:58:16.716821     NaN     351     281       200
2018-07-05 13:58:18.716821     NaN     688     368       363
2018-07-05 13:58:20.716821     NaN     540     174       820
2018-07-05 13:58:22.716821     NaN     646     261       296
2018-07-05 13:58:24.716821     NaN     408     103       479
2018-07-05 13:58:26.716821     NaN     647     416       199
2018-07-05 13:58:28.716821     NaN     200     155       484
2018-07-05 13:58:30.716821     NaN     254     200       256
2018-07-05 13:58:32.716821     NaN     212     100       329
2018-07-05 13:58:34.716821     NaN     610      20       603
2018-07-05 13:58:36.716821     NaN      81     235       761

The pandas method read_csv() has [quite a lot](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) of additional keywords to play around with. For our easy example we only needed four, but a bit more untidy data might force you to play around a lot more. For a little more information on how to create dataframes take a look [here](https://youtu.be/3k0HbcUGErE).

### Practice Questions
* What would happen if we would not define **na_values=-999**?
* What does df.tail() do?
* What kinds of Dataframe creation methods exist beside read_csv()

### Exercise 2
Download [this file](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls), which is provided by UN and contains energy indicators for 2013. Your task is to create a dataframe called "energy" that contains all entries in the right format. You should consider the following:
* This is an Excel file, not a csv
* The upper part is unecessary and you should not read it in (do not delete parts of the file)
* The first two columns contain no information
* Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)
* Make sure all missing data is saved as NaN
* There are several countries with numbers and/or parenthesis in their name. Be sure to remove these.
    * 'Bolivia (Plurinational State of)' should be 'Bolivia'
    * 'Switzerland17' should be 'Switzerland'
    
Finally, let pandas describe the dataset for you.
    
Hint: This exercise will be a bit challenging. Do not lose heart if this takes some time to sort out. 

Inspired by "Introduction to Data Science" MOOC by the University of Michigan

## Save Dataframes as Files