# Python for Environmental Science Day 6
## Topics
* Pandas

## Disclaimer
Foremost, I have to inform you that [pandas](https://www.quora.com/Why-is-the-pandas-Python-library-named-pandas) has nothing to do with [pandas](https://en.wikipedia.org/wiki/Giant_panda). Sorry about that. Secondly, I have to tell you that pandas can be a bit confusing at times and I still haven't figured out everything myself. However, I will give my best to teach you the things I know and those I should know about pandas. This notebook might take us a bit longer then the days before. We'll see.

## What is pandas?
You know [spreadsheets](https://en.wikipedia.org/wiki/Spreadsheet), right? 

<img src="https://i.pinimg.com/originals/04/5b/91/045b9193b35a53ea001963032614e599.jpg" alt="Drawing" style="width: 250px;"/ align="left">


Basically pandas does the same, but a bit more abstract and way better. Today you will learn how to read data into pandas and work with it in meaningful ways. When you import pandas it is convention to do it like this:

In [4]:
import pandas as pd

First, take a look at [this video](https://youtu.be/CmorAWRsCAw) to get a introduction to pandas and why it is useful.

### Practice Questions
* What is the advantage of pandas of regular spreadsheets like excel?
* What is data wrangling?

In the following sections we will use the well known [iris dataset](https://en.wikipedia.org/wiki/Iris_flower_data_set) to explore pandas a bit more.

In [28]:
# Do not worry if those lines confuse you. 
# They are only needed to get some data to work with and you do not need to understand them.
# If you are curious take a look here:
# https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset
import numpy as np
from sklearn import datasets

def load_iris():
    """Loads the iris dataset and returns it as a dataframe"""
    iris = datasets.load_iris()
    iris_df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                         columns= iris['feature_names'] + ['target'])
    return iris_df

iris_df = load_iris()
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

As you can see it looks pretty similar to excel at first glance.

After watching the video try to calculate the median of the column "sepal width (cm)".

## Rows and Columns
As I always confuse them, here is a little reminder on rows and columns:

<img src="https://qph.fs.quoracdn.net/main-qimg-2c10ea6a9bdf9c6ae2c9031fb15c6723" alt="Drawing" style="width: 250px;"/ align="left">

## Dataframe Basics
Take a look at [this video](https://youtu.be/F6kmIpWWEdU) to get a basic overview of the dataframe data strucure.

### Practice Questions
* What is the "shape" of a dataframe?
* How can you get the column names of a dataframe?
* What is the difference between a series and a dataframe?

### Simple Selection in Dataframes
When you have collected and cleaned your data you want to do something with it. The first thing is usually looking at it. So lets take a look at a few ways to access your dataframe.
* Access a certain subset of rows

In [10]:
# Simply use slicing, as you already learned with lists
iris_df[1:3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0

* Access a column

In [15]:
# Simply use the name in square brackets
# The .head() function is not neccesary for this, but it is nicer to look at. Try the line without it. 
iris_df["sepal width (cm)"].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal width (cm), dtype: float64

The thing we got back from pandas when we asked for a certain column was a series.

In [16]:
type(iris_df["sepal width (cm)"])

pandas.core.series.Series

This ought not confuse you. [Simply put](https://stackoverflow.com/questions/26047209/what-is-the-difference-between-a-pandas-series-and-a-single-column-dataframe) "a series is a datastructure for a single column of a dataframe" and a dataframe "can be thought of as a dict-like container for series objects".

* Access several columns at once

In [17]:
# Simply create a list of the columns you want to access
cols = ["sepal width (cm)", "sepal length (cm)"]
iris_df[cols].head()

   sepal width (cm)  sepal length (cm)
0               3.5                5.1
1               3.0                4.9
2               3.2                4.7
3               3.1                4.6
4               3.6                5.0

### Simple Calculations
As the dataframe contains data you want to work with, the most powerful property of pandas is the easy usage of functions to calculate new informations. The most useful to get a quick overview for a dataframe is .describe(), which will give you the most common describers of data like mean or max values.

In [18]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

You can also do this for specific describers and columns.

In [20]:
iris_df["sepal width (cm)"].std()

0.4335943113621737

### Boolean Indexing
Often you want to filter for a specific value. For example you only want to get all the rows where the sepal width is above 4. This is integrated in pandas by the so called boolean indexing. For this you have to access the dataframe as usual, but instead of typing the column you give it a boolean expression.

In [26]:
iris_df[iris_df["sepal width (cm)"] > 4]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
15,5.7,4.4,1.5,0.4,0.0
32,5.2,4.1,1.5,0.1,0.0
33,5.5,4.2,1.4,0.2,0.0

You can combine boolean indexing with regular a regular access on certain columns. So in the following case you would get the petal width for all flowers were the sepal width is above 4.

In [27]:
iris_df["petal width (cm)"][iris_df["sepal width (cm)"] > 4]

15    0.4
32    0.1
33    0.2
Name: petal width (cm), dtype: float64

### Practice Questions
* When is it impossible to access a column with the statement df.columnname, but you have to type df[columnname] instead?
* What is the index of a dataframe and what types can it have?
* What is the keyword "inplace" used for?

### Exercise 1
Use the code provided above to read in the iris dataset and do the following:
* Calculate the minimal value for the column 'petal length'
* Select all rows where target is 0 and use the describe function on this
* Create a slice of the last two rows of the dataframe

<img src="https://memegenerator.net/img/instances/73988552/pythonpandas-is-easy-just-do-such-and-such.jpg" alt="Drawing" style="width: 250px;"/ align="left">

## Creating Dataframes from Data
Pandas allows you to create dataframes in very different ways. But we can savely assume that most of the time you will read in .csv files, as they are the most common format for raw data. First let us create a csv file we can play around with.

In [3]:
# Again, you do not need to get this code. But it will not hurt if you try.
import numpy as np
import pandas as pd
import datetime
import random

def create_csv():
    """Creates a dataframe with random data and saves it as a csv"""
    # Create a dataframe with only NaN
    df = pd.DataFrame(np.nan, index=range(50), columns=range(4))
    # Fill the columns
    for i, column in enumerate(df.columns):
        # Make the first column retain some NaN
        if i == 0:
            fill_till = random.randint(10, random.randint(10, 51))
            df.loc[:fill_till-1,column] = np.random.randint(low=random.randrange(100),
                                                            high=random.randrange(100, 1000),
                                                            size=fill_till)
        # Fill all others completely
        else:
            df.loc[:,column] = np.random.randint(low=random.randrange(100),
                                                 high=random.randrange(100, 1000),
                                                 size=50)
    # Replace the NaN
    df.fillna(value=-999, inplace=True)
    # Give the columns new names
    df.columns = ["Probe1", "Probe2", "Probe3", "Probe4"]    
    # Create a datetime index
    times = pd.DatetimeIndex(freq='2s', start=datetime.datetime.now(), periods=50)
    df.index = times
    df.index.name = "Datetime"
    # Write to a file
    df.to_csv("probe_measurements.csv", sep=";")            
            
create_csv()

Execute this code and in your directory a file named "probe_measurements.csv" should pop up. Now we want to read it in again. We have to make sure we get the seperator right and find a way to handle the NaNs.

In [4]:
def read_in_csv(file):
    """Reads in the file we just created"""
    df = pd.read_csv(file, sep=";", header=0, index_col=0, na_values=-999)
    return df

df = read_in_csv("probe_measurements.csv")
df.tail(15)

                            Probe1  Probe2  Probe3  Probe4
Datetime
2018-07-06 13:30:48.036072     NaN     178      52     637
2018-07-06 13:30:50.036072     NaN     737     250     238
2018-07-06 13:30:52.036072     NaN     808     108     306
2018-07-06 13:30:54.036072     NaN     398     275     382
2018-07-06 13:30:56.036072     NaN     768     268     137
2018-07-06 13:30:58.036072     NaN     102     279     443
2018-07-06 13:31:00.036072     NaN     272     220     547
2018-07-06 13:31:02.036072     NaN     761     187     524
2018-07-06 13:31:04.036072     NaN     261      83     380
2018-07-06 13:31:06.036072     NaN     528     195     213
2018-07-06 13:31:08.036072     NaN     613      55     478
2018-07-06 13:31:10.036072     NaN     729     202     235
2018-07-06 13:31:12.036072     NaN     150     285     535
2018-07-06 13:31:14.036072     NaN     423     152     198
2018-07-06 13:31:16.036072     NaN     552     218     329

The pandas method read_csv() has [quite a lot](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) of additional keywords to play around with. For our easy example we only needed four, but a bit more untidy data might force you to play around a lot more. For a little more information on how to create dataframes take a look [here](https://youtu.be/3k0HbcUGErE).

### Practice Questions
* What would happen if we would not define **na_values=-999**?
* What does df.tail() do?
* What kinds of Dataframe creation methods exist beside read_csv()

### Exercise 2
Download [this file](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls), which is provided by UN and contains energy indicators for 2013. Your task is to create a dataframe called "energy" that contains all entries in the right format. You should consider the following:
* This is an Excel file, not a csv (If this confuses you a lot take a look at [this video](https://youtu.be/-0NwrcZOKhQ?t=16m))
* The upper part is unecessary and you should not read it in (do not delete parts of the file)
* The first two columns contain no information
* Make sure all missing data is saved as NaN
* There are several countries with numbers and/or parenthesis in their name. Be sure to remove these.
    * 'Bolivia (Plurinational State of)' should be 'Bolivia'
    * 'Switzerland17' should be 'Switzerland'
    
Finally, let pandas describe the dataset for you.
    
Hint: This exercise will be a bit challenging. Do not lose heart if this takes some time to sort out. 

Inspired by "Introduction to Data Science" MOOC by the University of Michigan

## Save Dataframes as Files
As stated above, you will mainly need to know how to save dataframes as csv files. First take a look at [this video](https://youtu.be/-0NwrcZOKhQ?t=11m49s) (you can stop at 15.30 Min). As you see writing to csv is not very complicated. The main syntax is:

In [ ]:
df.to_csv("name.csv")

But as the method to read_csv(), to_csv() has [quite a lot of keyword arguments](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html). I will not go into detail here, as most are for edge cases, where you require a certain format. 

You can also save files as excel type, but this is a bit more complicated if you have to use several sheets.

### Practice Questions
* Which kinds of files can pandas create in addition to csv and excel?

### Exercise 3
Use the function read_in_csv() provided above to read in the csv created with create_csv(). Then write this dataframe again as a csv, but without an index and a header and only the data for Probe 1 and Probe 3.

## Advanced Selection in Dataframes
We already learned how to access rows or columns and now we learn to access both rows and columns at once. Pandas provides three main methods for this:
* .loc[ ]  is for selecting the rows by the index and the columns by their names.
* .iloc[ ]  is for selecting the rows and columns by their integer position (i for integer)
* .ix[ ] mixes the two above by allowing you using labels and integers together

For an overview take a look at [this video](https://youtu.be/xvpNA7bC8cs). Let's try the different methods step by step. 
 
### .loc[ ] Examples
So the basic syntax is:

In [ ]:
df.loc[row_index_labels, column_name_labels]

So for example we want to get the first ten rows and the data from Probe 1 and Probe 2 from our dataframe created above.

In [ ]:
index = df.index
first_ten = index[:10]
print(df.loc[first_ten, ["Probe1", "Probe2"]])

Or we could want to get all rows for Probe 1.

In [ ]:
print(df.loc[:, "Probe1"])

Now you try. Use .loc[ ] to get rows 30 to 40 for all Probes.

You can also use .loc[ ] with boolean expressions, which comes in handy sometimes. You use it in the same way as before. Just tell pandas the rows you want and then the columns. Simply switch the labels with boolean expressions.

In [ ]:
print(df.loc[df["Probe2"] > 500, "Probe3"])

### Practice Questions
* Describe the output of the statement above with your own words.

### .iloc[ ] Examples
Basic syntax:

In [34]:
df.iloc[numbers_of_rows, numbers_of_columns]

NameError: name 'numbers_of_rows' is not defined

For example we want to get rows 15 to 25 and the columns in positon 2 and 3.

In [35]:
print(df.iloc[15: 25, [2, 3]])

                            Probe3  Probe4
Datetime
2018-07-06 13:30:08.036072     274     195
2018-07-06 13:30:10.036072     226     650
2018-07-06 13:30:12.036072      93     412
2018-07-06 13:30:14.036072     200     273
2018-07-06 13:30:16.036072     280     789
2018-07-06 13:30:18.036072      61     335
2018-07-06 13:30:20.036072     216     684
2018-07-06 13:30:22.036072      52     347
2018-07-06 13:30:24.036072     238      71
2018-07-06 13:30:26.036072     270     292

### .ix[ ] Examples
As stated above .ix[ ] allows you to combine what we have learned so far with iloc and loc. So for example you want to access the first ten rows and the column of Probe 3. You should not get to used to this way of indexing as it will soon be [removed from pandas](https://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated), but you should not it exists as you might see it in other peoples code.

In [36]:
df.ix[:10, "Probe3"]

C:\Apps\winpy3_6\python-3.6.1.amd64\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

Datetime
2018-07-06 13:29:38.036072    132
2018-07-06 13:29:40.036072    300
2018-07-06 13:29:42.036072    168
2018-07-06 13:29:44.036072    312
2018-07-06 13:29:46.036072     32
2018-07-06 13:29:48.036072     80
2018-07-06 13:29:50.036072     67
2018-07-06 13:29:52.036072    163
2018-07-06 13:29:54.036072    157
2018-07-06 13:29:56.036072    272
Name: Probe3, dtype: int64

### Copies and Views
When using all those different ways to access parts of dataframes confusion can arise, as some methods create copies (you get a new dataframe) and some other create a view (you still work with the old dataframe, but only see a part of it). However [general rules](https://stackoverflow.com/questions/23296282/what-rules-does-pandas-use-to-generate-a-view-vs-a-copy) exist. For convenience I made a 'copy':

"

Here are the rules, subsequent override:
* All operations generate a copy
* If **inplace=True** is provided, it will modify in-place; only some operations support this
* An indexer that sets, e.g. **.loc/.ix/.iloc/.iat/.at** will set inplace.
* An indexer that gets on a single-dtyped object is almost always a view (depending on the memory layout it may not be that's why this is not reliable). This is mainly for efficiency. (the example from above is for **.query**; this will always return a copy as its evaluated by **numexpr**)
* An indexer that gets on a multiple-dtyped object is always a copy.

"